@font-face {
  font-family: 'paneuropa';
  src: url('../../assets/fonts/PaneuropaNeueNormal.otf') format('opentype'),
       url('../../assets/fonts/PaneuropaNeueNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600);
$ig-gold:#B59C31;
@font-face {
  font-family: 'fontello';
  src: url('../../assets/fonts/fontello.eot?20431582');
  src: url('../../assets/fonts/fontello.eot?20431582#iefix') format('embedded-opentype'),
       url('../../assets/fonts/fontello.woff?20431582') format('woff'),
       url('../../assets/fonts/fontello.ttf?20431582') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?20431582#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-instagram:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-map-pin:before { content: '\e806'; } /* '' */
a{
	color:$ig-gold;
}
#igapp{
	font-size:16px;
	background-color:#F7F7F7;
	font-family: 'Source Sans Pro', sans-serif;
	min-height:100%;
}
#ig-app-content{
	max-width:1000px;
	margin:auto;
}
#ig-nav{
	margin:0 15px;
}
.ig-nav-links{
	&:first-child{
		padding-right:15px;
		border-right:1px solid rgba(100,100,100,.3);
	}
	&:last-child{
		padding-left:15px;
	}
	&.inactive > a{
		color:rgba(0, 0, 0, 0.5);
		&:hover{
			color:rgba(0, 0, 0, 1);
		}
	}
}
.park-flex{
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}
.flex-parent-row{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
}

.flex-row-top{
	align-items:flex-start;
}
.flex-child-expand{
  flex: 1 1 auto;
}
#auth-prompt{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color:rgba(255,255,255,.9);
	display:flex;
	flex-flow: column nowrap;
	justify-content:center;
	align-items:center;
	text-align:center;
}

.ig-font{
	font-family:'paneuropa';
}

#ig-header{
	background-color:#fff;
	padding:20px 5%;
	border-bottom:1px solid #edeeee;
}
.ig-header-content > *{
	flex:1 1 auto;
}
.igListItemImg{
	height:300px;
}
.btn-default{
	-webkit-appearance:none;
	background-color:transparent;
	border:1px solid $ig-gold;
	border-radius:3px;
	font-size:.8em;
	padding:5px 10px;
	color:$ig-gold;
	outline:none;
	min-width:87px;

	&.active{
		color:#fff;
		background-color:$ig-gold;
	}
}
.btn-lg{
	font-size:1.2em;
	padding:5px 30px;
}
.btn-xl{
	font-size:2em;
	padding:15px 80px;
}
.list-info{
	display:flex;
	flex-flow:row nowrap;
	align-items:flex-start;
	width:100%;
}
.park-list-item{
	margin-bottom:20px;
	overflow:hidden;
	width:31%;
	min-width: 300px;
	margin:10px;
}
.park-photo-viewer{
	justify-content:center;
}
.park-photo{
	position:relative;
	width:31%;
	margin:10px;
	cursor:pointer;
}
.park-filters{
	justify-content:flex-end;
	margin:0 15px;
	.active{
		color:$ig-gold;
	}
	.inactive{
		color:rgba(0,0,0,.5);
		&:hover{
			color:rgba(0,0,0,1);
		}
	}
}
.park-list-ctrls{
	margin:15px 0 0 0;
}
.park-view{
	padding:0 20px;
}
.filter{
	padding:0 20px;
	border-left:1px solid rgba(100,100,100,.3);
	cursor:pointer;
	&:last-child{
		padding-right:0;
	}
}
.search-box-container{
	text-align:right;
	margin-right:20px;
}
#logout-button{
	cursor:pointer;
}
.login-logout{
	padding:6px 0;
}
.user-full-name{
	font-weight:400;
	font-size:2.2em;
	text-transform:lowercase;
}
.user-info{
	margin-left:20px;
}
#profile-info{
	display:flex;
	flex-flow:row nowrap;
	align-items: flex-start;
	margin-top:40px;
	padding:0 20px;
}
#search-box{
	border:none;
	padding:5px 0;
	background-color:transparent;
	border-radius:30px;
	outline:none;
	width:45px;
	color:black;
	transition:width .3s ease, background .2s ease, padding .2s ease;

	&.inactive{
		&::-webkit-input-placeholder{
			color:rgba(0,0,0,.5);
		}
		&:hover{
			cursor:pointer;
			&::-webkit-input-placeholder{
				color:rgba(0,0,0,1);
			}
		}
	}

	

	&.active{
		background-color:#fff;
		padding:5px 20px;
		width:100%;
		&::-webkit-input-placeholder {
		   color: $ig-gold;
		}
	}
}
.stat-block{
	margin:0 25px;
	text-align:center;

	&:last-child{
		margin-right:0;
	}
}
.stat-blocks{
	justify-content:flex-end;
	margin-top:10px;
}
.photo-overlay{
	position:absolute;
	opacity:0;
	background-color:rgba(0,0,0,.3);
	top:0;
	right:0;
	bottom:0;
	left:0;
	transition:opacity .2s ease;
	display:flex;
	flex-flow: row nowrap;
	align-items:center;
	justify-content:center;
	&:hover{
		opacity:1
	}
}
.heart-svg{
	opacity:.4;
	transition: opacity .2s ease;
	&:hover{
		opacity:.8;
	}
}
#follow-list{
	margin-top:30px;
}
.follow-list-item{
	padding:10px 20px;
	border-bottom:1px solid rgba(0,0,0,.1);
	a{
		color:black;
	}
}
@media (max-width:414px){
	.park-list-item{
		width:100%;
		margin:0;
		margin:10px 0;
	}
	.park-photo{
		width:100%;
		margin: 10px 0;
	}
	.park-view{
		padding:0 20px;
	}
}