@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

body{
  font-family:"Lucida Grande", Helvetica, Arial, sans-serif;
  width:100%;
  height:100%;
  font-size:28px;
  background-color:#eee;
}
hr{
  border:none;
  border-bottom:1px solid rgba(0,0,0,.4);
}
a{
  color:royalblue;
  text-decoration:none;
}
.slide-content{
  width:100%;
  ul{
    list-style:none;
  }
  li{
    margin-bottom:.5em;
    position:relative;

    &.none{
      list-style:none;
      margin-bottom:2.5em;
      &:before{
        content:'';
      }
    }
    &.normal{
      margin-bottom:1em;
    }
    &:before{
      content:'○ ';
      position: absolute;
      left: -1em;
    }
    &>code{
      background-color:#1d1f21;
      padding:2px 8px;
      border-radius:4px;
    }
  }
}
.dev-talk{
  min-height:100%;
}
#presentation{
  h2{
    border-top:1px solid rgba(0,0,0,.4);
  }
  pre{
    max-height: 550px;
    overflow: auto;
  }
}
.slideholder{
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  height:100%;
  justify-content:center;
  padding:0 50px;
}
.slideholder>*{
  flex:1 1 auto;
}
.full-height{
  height:100%;
}
.references{
  li{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;

    &:before{
      content:''
    }

    img{
      max-height: 50px;
      margin-right: 30px;
      max-width: 50px;
    }
  }
}
.feed-photo-demo{
  font-family: 'Lato', sans-serif;
  font-weight:500;
  font-size:16px;
  max-width:500px;
  border-radius:3px;
}
.flex-parent-row{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
}
.flex-row-space-between{
  justify-content:space-around;
}
.flex-child-expand{
  flex: 1 1 auto;
}
.feed-photo-header{
  padding:15px 20px;
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  &>*{
    flex: 1 1 auto;
  }
}
.multi-block{
  display:flex;
  flex-flow:column nowrap;
  height:300px;
  justify-content:center;
  &>*{
    flex:1 1 auto;
  }
}

.block{
  border-radius:2px;
  padding:0 30px;
  max-height:80px;
  background-color:#fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  transform: translate3d(0px, 0px, 0px) scale(1);
  margin:10px;
  -webkit-user-select:none;
  cursor:pointer;
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
}
.child-container{
  padding:10px;
}
.component-container{
  border:1px solid rgba(0,0,0,0.1);
  margin-bottom:10px;
  &:hover{
    border:1px solid rgba(0,0,0,0.8);
  }
}
.component-props-and-state{
  display:flex;
  flex-flow:row nowrap;
  width:100%;
}
.panel{
  width:40%;
  height:65%;
  background-color:#fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  padding:0 20px;
  margin-top:10%;
}
.key-block{
  width:100%;
  display:flex;
  flex-flow: row nowrap;
  align-items:center;
  justify-content:flex-end;
  margin-bottom:10px;
}
.key-block-block{
  width:40%;
  padding:20px;
  margin-left:20px;
  border-radius:4px;
  text-align: center;
}
.instructions{
  font-size:14px;
  color:rgba(0,0,0,.5);
  position:absolute;
  left:20px;
  bottom:20px;
}
